html, body {
  background-color: #f8f8f8;
  max-width: 100%;
  overflow-x: hidden;
  justify-content: center;
  margin: auto;
  width: 1500px; 
  font-family: 'Roboto', sans-serif;
  font-size: 115%;
}

.App {
  text-align: center;
}

.Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.Table {
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  border-color: #323333;
  color: #323333;
  font-size: small;
}

.DropDown {
  width: 100%;
  height: 100%;
}

table {
  font-family: 'Roboto', sans-serif;
  border-collapse: collapse;
  /* width: 100%; */
}

td, th {
  border: 1px solid #313131;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #BBBDBC;
}

.side-by-side {
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
}